:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  height: 100%;
  background: var(--background) no-repeat;
  padding-top: 14vh;
  font-family: 'Poppins', sans-serif;
  color: var(--title);
}
header,
section#find {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;
}
header img {
  width: 5rem;
  margin-bottom: 10px;
}
main {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main img.cover {
  background: #102d71;
  height: 243.77px;
  width: 170px;
  margin-right: 2rem;
}
main div.infoMovie h2 {
  font-size: 1.25rem;
}
main div.infoMovie p {
  width: 30vw;
  font-size: 1em;
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
}
section#find button {
  display: flex;
  align-items: center;

  height: 50px;
  padding: 12px 14px;

  background-color: var(--bg-button);
  border: 2px solid #1a1a1a;
  border-radius: 5px;

  font-size: 0.75rem;
  font-weight: 700;
  color: #000000;
}
section#find button img {
  height: 100%;
  margin-right: 1.1rem;
}
section#find p.info {
  max-width: 380px;
  margin-top: 25px;
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 680px) {
  body {
    padding: 50px 30px;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  main img.cover {
    margin: 0 auto;
  }
  main div.infoMovie h2 {
    margin: 20px auto;
    text-align: center;
  }
  main div.infoMovie p {
    width: 100%;
    text-align: center;
  }
}
